@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: clamp(0.8rem, 5vw, 1.5rem);
  color: #423f40;
  line-height: 1.6;
  background: #fcfbfc;
}

button {
  cursor: pointer;
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.container {
  max-width: 200rem;
  width: 100vw;
  padding: 0 10rem;
  margin: 0 auto;
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 1rem;
  }
}

#main {
  border: 2px solid orange;
  padding: 0 3rem;
  height: 100vh;
}

#main .main__wrapper {
  border: 2px solid red;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  -ms-grid-columns: 1fr 3fr 1.5fr;
      grid-template-columns: 1fr 3fr 1.5fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 2rem 2rem;
      grid-template-areas: "section-left section-center section-right";
}

#main .section-left {
  border: 2px solid green;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: section-left;
}

#main .section-center {
  border: 2px solid blue;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: section-center;
}

#main .section-right {
  border: 2px solid blueviolet;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: section-right;
}

#section-left {
  padding: 5rem 2rem;
}

#section-left .section-left__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

#section-left .section-left__wrapper .logo {
  font-size: 1.8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 0.4fr;
      grid-template-columns: 0.2fr 0.4fr;
  gap: 1rem;
      grid-template-areas: "logo__shapes logo__title";
}

#section-left .section-left__wrapper .logo__shapes {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo__shapes;
  justify-self: flex-end;
}

#section-left .section-left__wrapper .logo__shapes i {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#section-left .section-left__wrapper .logo__shapes .first-shape {
  color: #e9e3fe;
}

#section-left .section-left__wrapper .logo__shapes .second-shape {
  top: 0.5rem;
  left: 1rem;
  -webkit-transform: translate(-0.7rem) rotate(45deg);
          transform: translate(-0.7rem) rotate(45deg);
  color: #8a70d6;
}

#section-left .section-left__wrapper .logo__title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logo__title;
}

#section-left .section-left__wrapper .logo__title h4 {
  font-weight: 400;
}

#section-left .section-left__wrapper .section-left__menu {
  line-height: 3.5;
  color: #a4a4a4;
}

#section-left .section-left__wrapper .section-left__menu ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  padding: 0 1.5rem;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
}

#section-left .section-left__wrapper .section-left__menu ul a:hover {
  color: #423f40;
  background: #e9e3fe;
}

#section-left .section-left__wrapper .section-left__subscribe {
  background: #e9e3fe;
  border-radius: 1rem;
  text-align: center;
  margin-top: 6rem;
  padding: 0 1.5rem;
}

#section-left .section-left__wrapper .section-left__subscribe .subscribe__image img {
  width: 20rem;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
  border-radius: 1rem;
}

#section-left .section-left__wrapper .section-left__subscribe button {
  background: #8a70d6;
  color: snow;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin: 1rem 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#section-left .section-left__wrapper .section-left__subscribe button:hover {
  background: transparent;
  color: #8a70d6;
  -webkit-box-shadow: inset 0 0 0 0.2rem #8a70d6;
          box-shadow: inset 0 0 0 0.2rem #8a70d6;
}

#section-center {
  padding: 5rem 0;
}

#section-center .section-center__wrapper {
  border: 2px solid lightgreen;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.2fr 4fr 5fr;
      grid-template-rows: 0.2fr 4fr 5fr;
  gap: 5rem;
      grid-template-areas: "center__header" "new-coursecs" "my-coursecs";
  padding: 0 2rem;
}

#section-center .center__header {
  border: 2px solid lightcoral;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: center__header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section-center .center__header .header__left h1 {
  font-size: clamp(1rem, 5vw, 3rem);
  font-weight: 600;
}

#section-center .center__header .header__right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 0.5fr;
      grid-template-columns: 3fr 0.5fr;
  gap: 1rem;
      grid-template-areas: "search-box notification";
}

#section-center .center__header .search-box {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: search-box;
  background: #fff;
  color: #a4a4a4;
  border-radius: 1rem;
  border: 1px solid #e9e3fe;
  padding: 1rem;
}

#section-center .center__header .search-box:focus-within {
  border: 0.1rem solid #8a70d6;
}

#section-center .center__header .search-box input {
  padding: 0.5rem 1rem;
  background: transparent;
  border: none;
  outline-color: #fff;
}

#section-center .center__header .notification {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: notification;
  font-size: 2.5rem;
  background: #fff;
  text-align: center;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  border: 1px solid #e9e3fe;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#section-center .center__header .notification:hover {
  color: #8a70d6;
  border-color: #8a70d6;
}

#section-center .new-coursecs {
  border: 2px solid lightblue;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: new-coursecs;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}

#section-center .new-coursecs h2 {
  font-size: clamp(0.5rem, 5vw, 2rem);
  font-weight: 600;
}

#section-center .new-coursecs .posts {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 3rem;
      grid-template-areas: "post1 post2 post3";
  gap: 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

#section-center .new-coursecs .post1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: post1;
}

#section-center .new-coursecs .post2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: post2;
}

#section-center .new-coursecs .post3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: post3;
}

#section-center .new-coursecs .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightblue;
  border-radius: 1rem;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  padding: 2rem;
  width: Min(100%, 50rem);
}

#section-center .new-coursecs .post:hover {
  -webkit-box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(128, 128, 128, 0.097);
          box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(128, 128, 128, 0.097);
}

#section-center .new-coursecs .post:hover .post__image img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#section-center .new-coursecs .post .post__image {
  width: 100%;
  background-color: lightcoral;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  padding: 2rem 0;
}

#section-center .new-coursecs .post .post__image img {
  width: Min(15rem, 100%);
  height: auto;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

#section-center .new-coursecs .post:nth-of-type(1) {
  background: #fff0e1;
}

#section-center .new-coursecs .post1 .post__image {
  background: #fcab5e;
}

#section-center .new-coursecs .post1 .students__right {
  background: #fcab5e;
}

#section-center .new-coursecs .post1 .students__right:hover {
  background: #fcb877;
}

#section-center .new-coursecs .post:nth-of-type(2) {
  background: #e9e3fe;
}

#section-center .new-coursecs .post2 .post__image {
  background: #8a70d6;
}

#section-center .new-coursecs .post2 .students__right {
  background: #8a70d6;
}

#section-center .new-coursecs .post2 .students__right:hover {
  background: #9a84dc;
}

#section-center .new-coursecs .post:nth-of-type(3) {
  background: #e5f3fe;
}

#section-center .new-coursecs .post3 .post__image {
  background: #579be4;
}

#section-center .new-coursecs .post3 .students__right {
  background: #579be4;
}

#section-center .new-coursecs .post3 .students__right:hover {
  background: #6da8e8;
}

#section-center .new-coursecs .post__info {
  width: 100%;
  margin: 2rem 0;
}

#section-center .new-coursecs .post__info span {
  font-weight: 500;
}

#section-center .new-coursecs .post__info p {
  color: #a4a4a4;
  font-size: 1.2rem;
}

#section-center .new-coursecs .post__students {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-center .new-coursecs .post__students .students__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-center .new-coursecs .post__students .students__left .student img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

#section-center .new-coursecs .post__students .students__left .student2 {
  -webkit-transform: translateX(-0.5rem);
          transform: translateX(-0.5rem);
}

#section-center .new-coursecs .post__students .students__left .student3 {
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}

#section-center .new-coursecs .post__students .students__right {
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.6rem 1.5rem;
  -webkit-transition: 300ms;
  transition: 300ms;
  cursor: pointer;
}

#section-center .my-coursecs {
  border: 2px solid lightgreen;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: my-coursecs;
  width: 100%;
}

#section-center .my-coursecs .courses__title {
  border: 2px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

#section-center .my-coursecs .courses__title h2 {
  font-size: clamp(0.5rem, 5vw, 2rem);
  font-weight: 600;
}

#section-center .my-coursecs .courses__title span {
  color: #a4a4a4;
  position: relative;
}

#section-center .my-coursecs .courses__title span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: #8a70d6;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

#section-center .my-coursecs .courses__title span:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#section-center .my-coursecs .courses__title span:hover {
  color: #8a70d6;
}

#section-center img {
  width: 10rem;
}
