.right__calendar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  .calendar {
    width: 100%;
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(128, 128, 128, 0.097);
    border-radius: $border-radius-md;

    .month {
      background: $secondary-color-1;
      height: 7rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 100, 0.5);
      border-top-left-radius: $border-radius-md;
      border-top-right-radius: $border-radius-md;
      padding: 0 2rem;
      padding-top: 0.5rem;
      margin-bottom: 2rem;

      i {
        font-size: 2.5rem;
        cursor: pointer;

        &:hover {
          color: $primary-color-1;
        }
      }

      .date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
          font-size: 2rem;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.2rem;
        }

        p {
          font-size: 1.4rem;
        }
      }
    }

    .weekdays {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      justify-items: center;
      padding: 0 0.4rem;
      margin-bottom: 1rem;

      div {
        font-size: 1.4rem;
        font-weight: 400;
        color: $light-gray-color;
        letter-spacing: 0.1rem;
        text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
      }
    }

    .days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      justify-items: center;
      padding: 0.2rem;

      div {
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        margin: 0.3rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
        transition: 250ms;
        cursor: pointer;

        &:hover:not(.today) {
          background: $secondary-color-1;
          text-shadow: 0 0.2rem 0.5rem $secondary-color-1;
        }
      }

      .prev-date,
      .next-date {
        opacity: 0.5;
      }

      .today {
        background: $primary-color-1;
        color: $white-color;
        border-radius: 50%;
      }
    }
  }
}
