#section-left {
  padding: 2rem;
  padding-bottom: 0;

  .section-left__wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .logo {
      font-size: 1.8rem;
      display: grid;
      grid-template-columns: 0.5fr 1fr;
      grid-template-areas: "logo__shapes logo__title";
      min-width: 19rem;
    }

    .logo__shapes {
      grid-area: logo__shapes;
      justify-self: flex-end;

      i {
        transform: rotate(45deg);
        font-size: 2.7rem;
      }

      .first-shape {
        color: $primary-color-1;
      }

      .second-shape {
        top: 0.5rem;
        left: 1rem;
        transform: translate(-0.5rem) rotate(45deg);
        color: $secondary-color-1;
        margin-right: 1rem;
      }
    }

    .logo__title {
      grid-area: logo__title;

      h4 {
        font-weight: 400;
      }
    }

    .section-left__menu {
      margin-top: 2rem;
      margin-bottom: auto;
      line-height: 3.5;
      color: $light-gray-color;

      ul {
        .menu__link {
          display: flex;
          align-items: center;
          gap: 1rem;
          border-radius: $border-radius-md;
          padding: 0 1.5rem;
          margin: 0.5rem 0;
          transition: 350ms ease-in-out;

          &:hover {
            color: $dark-gray-color;
            background: $secondary-color-1;
          }
        }

        .active {
          color: $dark-gray-color;
          background: $secondary-color-1;
          border-radius: $border-radius-md;
        }
      }
    }

    .section-left__subscribe {
      background: $secondary-color-1;
      border-radius: $border-radius-md;
      text-align: center;
      margin-bottom: auto;
      .subscribe__image {
        img {
          width: 15rem;
          transform: translateY(-4rem);
          border-radius: $border-radius-md;
        }
      }

      button {
        background: $primary-color-1;
        color: snow;
        border: none;
        border-radius: $border-radius-sm;
        padding: 1rem 2rem;
        margin: 1rem 0;
        transition: 300ms;

        &:hover {
          background: transparent;
          color: $primary-color-1;
          box-shadow: inset 0 0 0 0.2rem $primary-color-1;
        }
      }
    }
  }
}
