* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-stack;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: clamp(0.8rem, 5vw, 1.5rem);
  color: $dark-gray-color;
  line-height: 1.6;
  background: #fcfbfc;
}

button {
  cursor: pointer;
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.container {
  max-width: 200rem;
  width: 100vw;
  padding: 0 10rem;
  margin: 0 auto;
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 1rem;
  }
}
