@import "./config";
@import "./utilities";

#main {
  padding: 0 3rem;
  height: 100vh;
  min-width: 1300px;
  overflow-y: hidden;

  .main__wrapper {
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 3fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    grid-template-areas: "section-left section-center section-right";
    // height: 100vh;
  }

  .section-left {
    grid-area: section-left;
    height: 100vh;
  }

  .section-center {
    grid-area: section-center;
    height: 100vh;
  }

  .section-right {
    grid-area: section-right;
    height: 100vh;
  }
}

@import "./left-section";
@import "./center-section";
@import "./right-section";
